.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-header a {
  color: #ff3636;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.suit.heart, .suit.diamond {
  color: #ff0000;
}

.suit.spade, .suit.club {
  color: #000000;
}

.suit.club {
  font-size: 1.5em;
}

.suit.spade {
  font-size: 1.87em;
}

.suit.diamond {
  font-size: 1.92em;
}

.suit.heart {
  font-size: 1.65em;
}

.card {
  margin: 10px;
  cursor: pointer;
}

.hand {
  text-align: left;
  width: 250px;
  height: 50px;
  margin: 15px auto;
  padding: 5px;
  cursor: pointer;
  background: #f0f0f0;
}

.hand.selected {
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
